<h1><%= @event.event %></h1>

<p>Here is the most recently clicked event:<p><br>
<show><%= @event.event %></show>
<show><%= @event.u_at %></show>
<br>

<!--<%= link_to "Edit Event", edit_userprofile_path(@event) %>-->

