<div id="container-fluid">
	<div class="well well-lg">
<h1 class="text-center">Yay!!</h1>

<br>
<h2 class="text-center">Here's the event you just completed:</h2>
<h3 class="text-center"><show><%= @event.event %></show></h3>
<br>
<h3 class="text-center"><%= link_to "Got some time? choose another one!", userprofiles_path %></h3>


</div>
</div>

<!--<%= link_to "Edit Event", edit_userprofile_path(@event) %>-->

