<h1>Yay!!</h1>

<br>
<h2>Here's the event you just completed!</h2>
<h3><show><%= @event.event %></show></h3>
<br>
<h3><%= link_to "Got some time? choose another one!", userprofiles_path %></h3>


<br>

<!--<%= link_to "Edit Event", edit_userprofile_path(@event) %>-->

